<web-app>
    <display-name>Planet Football App</display-name>

    <context-param>
        <description>Ruta donde guardar las imagenes</description>
        <param-name>image-path</param-name>
        <param-value>C:\Users\danfa\Desktop\apache-tomcat-10.1.7\webapps\football_data</param-value>
    </context-param>

</web-app>